<form class="form-horizontal" role="form" ng-submit="addAsset()" >
     <center><h3>Add Asset</h3></center>
    
<div class="col-md-8 col-md-offset-2">
   
    <br/>
    <form name="addForm" class="form-horizontal">
      
      <div class="form-group">
        <label for="assetType" class="col-sm-2 control-label">Asset Digital Type</label>
        <div class="col-sm-4">
            <select ng-model="selectedAssetType" ng-options="key as value for (key , value) in assetDigitalTypes">
                <option value="">Select Asset Type</option>
            </select>       
        </div>
        <label for="assetCategory" class="col-sm-2 control-label">Asset Category</label>
        <div class="col-sm-4">
         <select ng-model="selectedCategory" ng-options="item.assetCategoryId as item.name for item in itemCategories">
            <option value="">Select Category</option>
        </select>
        </div>
      </div>
      <div class="form-group">
      
       <label for="country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-4">
          <select class="form-control" id="country">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
        </div>
        
        <label for="region" class="col-sm-2 control-label">Region</label>
        <div class="col-sm-4">
          <select class="form-control" id="region">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
        </div>      
       
      </div>
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="asset.name" id="name" placeholder="name">
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="asset.description" id="description" placeholder="Description">
        </div>
      </div>
       <div class="form-group">
        <label for="tag" class="col-sm-2 control-label">Tag</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="tag" placeholder="Tag">
        </div>
      </div>
      </form>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
            <button type="button" class="btn btn-default">Cancel</button>
          </div>
      </div>
      
     <p> 
     Please select a file to upload :  
<!--      <form name="uploadForm" class="form-horizontal"  action="/sytrace/api/assetCategories/uploadFile" method="POST" enctype="multipart/form-data"> -->
     
     <form name="uploadForm" id="uploadForm" action="javascript:;" enctype="multipart/form-data" method="post" accept-charset="utf-8">
      <div class="form-group">
        <label for="file" class="col-sm-2 control-label">Path</label>
        <div class="col-sm-10">
          <input type="file" id="file" name="file">
        </div>
      </div>
     <button type="submit" class="btn btn-default">Upload</button>
      
     </form>
     
</div>
  

  
<script>
 
   $(document).ready(function () {
        $("#uploadForm").submit(function (event) {

            //disable the default form submission
            event.preventDefault();
            //grab all form data  
          //  var formData = $(this).serialize();
          
           var formData = new FormData();
          jQuery.each(jQuery('#file')[0].files, function(i, file) {
            formData.append('file-'+i, file);
          });

            $.ajax({
                url: '/sytrace/api/asset/uploadFile',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function () {
                    alert('Form Submitted!');
                },
                error: function(){
                    alert("error in ajax form submission");
                }
            });

            return false;
        });
    });
   
   </script>
   
  
</form>